*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
width: 100vw;
height: 100vh;

}
/* dsaasdsdfgsd*/
body {
display: flex;
justify-content: center;
align-items: center;
}

.card{
padding: 1rem;
background-color: blue;
border-radius: 1rem;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

display: flex;
flex-direction: column;
}

figure{
overflow: hidden;
border-radius: 1rem;
border: 1px solid #232323;

display: flex;

}

figure > img {
flex: 1;

}
.info {
padding: 1rem 0;
}

.info > strong {
font-size: 2rem;
font-family: Verdana, Geneva, Tahoma, sans-serif; color: blanchedalmond;
}

.info p {
font-size: 1.2rem;
font-weight: 100;
color: #fffffff;
}




